// Variable Overrides

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

.jumbotron {
    background-size: cover;
    background-image: url("../media/pirate-ship.jpg");
    background-repeat: no-repeat;
    background-position: center top;

.img-fluid {

    max-width: 100%;
    height: auto;
    margin-left: 100px;
    margin-bottom: 10px;
}

 }
.navbar-nav
{
    a:hover{
        text-decoration: underline;
    }
    a:active {
        font-weight: bold;
    }
}

.col-sm-3 {
    border-right: 2px solid black;
    .h4{
        padding-right: 100px;
    }
}
// .footer {
//     width: 100%;
//     background-color: red;

// }