// Variable Overrides

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
//jumbotron style - adds image, size w aspect ration
.jumbotron {
    background-size: cover;
    background-image: url("../media/pirate-ship.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;
    text-align: center;
    -webkit-text-fill-color: white;
}
//style for the author image, auto height to scale

 //navbar styles
.navbar-nav
{   //underline when hover on navbar  link
    a:hover{
        text-decoration: underline;
    }   //SHOUld make the active (current) link bold text
}
//add border to right side of left column (NEED TO REMOVE WHEN STACKED)
.leftside {
    border-right: 1px solid darkslategray;
    }
//margin to bottom of carousel
.carousel {
    margin-bottom: 10px;
}
//bg color, centered text on footer, ADD DIFF STYLES
footer {
    width: 100%;
    margin-top: 20px;
    background-color: lightslategrey;
    text-align: center;
 }