// Variable Overrides
$theme-colors: (
    "primary": #0000
);
$body-bg: #FFFFFF;
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    a:hover {
        text-decoration: underline;
    }
}